fastapi[standard]>=0.121.1
uvicorn>=0.38.0
gunicorn>=20.1.0
sqlalchemy>=2.0.44
psycopg2-binary>=2.9.11
pwdlib>=0.2.1
pyjwt>=2.10.1
redis>=4.5
fastapi-limiter>=0.1.6
aiosqlite>=0.21.0
fastapi-users-db-sqlalchemy>=7.0.0