body{
    margin:0;
    padding: 0;
    background: white;
    background-image: url("/frontend/images/background_trees.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Amatic SC', cursive;
}
.menu_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 2rem;
}
.title{
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    margin: 0 0 1rem 0;
}
.menu_buttons{
    display: flex;
    flex-direction: column;
    gap:1rem;   
}
.menu_buttons button{
    background: white;
    border:3px solid black;
    font-size: 2.5rem;
    padding: 0.5rem 3rem;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}
.menu_buttons button:hover{
    transform: scale(1.05);
}
.baloon_child{
    position: absolute;
    bottom:170px;
    right:20px;
    width:150px;
}
.sound_button {
    position: absolute;
    bottom:20px;
    right:20px;
    width: 40px;

}
.help_button{
    position: absolute;
    bottom: 20px;
    right: 60px;
    width: 30px;
}
.baloon{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 40px;
}
.log_in_button_menu{
    background: white;
    border:3px solid black;
    font-size: 2.5rem;
    padding: 0.5rem 3rem;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    top:20px;
    right:5px;
}
