body{
    margin:0;
    background: #eef1f5;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.h2{
    margin:0;
    font-size: 1.6rem;
}
.card h2{
    text-align: center;
}
.subtitle{
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    color:#777
}
form input{
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 1rem;
    outline: none;
}
form input:focus{
    border-color: #3b82f6;
}
.primary_button{
    width: 100%;
    padding: 1rem;
    background: #0066ff;
    color: white;
    font-size:1.1rem;
    border: none;
    border-radius: 8px;
    margin-top: 0.5rem;
}
.primary_button:hover{
    background: #0053d6;
}
.divider{
    text-align: center;
    margin: 2rem 0;
    color:#777;
    position: relative;
}
.divider span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;

}
.divider::before{
    content: "";
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    height: 1px;
    background: #3b82f6;
    z-index:0;

}
.social_row{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 1.5rem;
}
.social_box{
    width: 60%;
    height: 50px;
    background: #f6f6f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_box img{
    width: 24px;
    height: 24px;
}
.button_text{
    text-align: center;
    color:#555;
}
.button_text a{
    color: #0066ff;
    text-decoration: none;
}